
@{
    ViewBag.Title = "Index";
}
<!--<script type="text/javascript" src="http://wwww.google.com/jsapi"></script>

<div class="col-md-6 btn-group">
    <br />
    <br />
    <button type="button" class="btn btn-w-m btn-success btn-md">Start</button>
    <button type="button" class="btn btn-w-m btn-primary btn-md">Stop</button>
    <br />
    <br />
    <br />
    <input type="text" size="50" height="50" disabled>
<input type="file" accept="audio/*;capture=microphone">-->
<!--</div>-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <form id="form">
        <div>
            <audio id="audio"></audio>
        </div>
        <div>
            <br />  <br />
            <button type="button" class="btn btn-w-m btn-success btn-md">Start</button>
            <button type="button" class="btn btn-w-m btn-primary btn-md" onclick="location.href = '@Url.Action("Stop")'">Stop</button>
            <select name="language" id="language">
                <option value="none" selected disabled hidden>
                    Select an Language
                </option>
                <option value="Turkish">Turkish</option>
                <option value="English">English</option>
                <option value="Korean">Korean</option>
            </select>
            <br />  <br />  <br />  <br />
            <input type="text" style="width:300px; height:150px;" disabled>
        </div>
    </form>



</body>

</html>

