
@{
    ViewBag.Title = "Index";
}
<div class="col-md-3">
    <br />
    <br />
    <button type="button" class="btn btn-w-m btn-success btn-md">Start</button>
    <br />
    <br />
    <button type="button" class="btn btn-w-m btn-primary btn-md">Stop</button>
    <br />
    <br />
</div>

<br />
<br />
<div class="col-md-3">
    <input type="text" size="50" height="50" disabled>
</div>