
@{
    ViewBag.Title = "SpeechToText";
}

<h2>Speech To Text</h2>
<br />

<div id="controls">
    <button id="recordButton" class="btn btn-success">Record</button>
    <button id="pauseButton" class="btn btn-primary" disabled>Pause</button>
    <button id="stopButton" class="btn btn-warning" disabled>Stop</button>
</div>

<br />
<ol id="recordingsList">
</ol>
<br />

<input type="text" id="recordList" style="height:250px;  width:500px;" disabled>

<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/recorder.js"></script>